section{
    min-height: 100vh;
}
/* .body-admin{
    background-color: #a509422e;
} */

/* .background-content{
    background-color: #a509422e;
} */
/* .tag{
    color: rgba(157, 18, 77, 1);
} */
.logo{
   margin-top: 15%;
}

h2{
    color: rgb(255, 243, 247);
    font-weight: bold;
}
 h4{
    color: rgb(131, 20, 57);
    font-weight: 650;
 }
/* .sidebar-item:hover{
    background-color: rgba(157, 18, 77, 1);
} */
/* //css book */
.button-detail-books{
    background-color:  rgba(160, 100, 118, 1);
   margin-bottom: 9px;
   margin-left: 9px;
   transition: background-color 0.4s ease-in-out;
   border-radius: 9px;
}
.button-detail-books:hover{
    background-color:rgb(133, 65, 85);
}

.button-borrowing{
    background-color: rgba(160, 100, 118, 1);
    width: 450px;
    border-radius: 9px;
    transition: background-color 0.4s ease-in-out;
}
.button-borrowing:hover{
    background-color: rgb(133, 65, 85);
}
.button-bookmark{
    background-color: rgba(160, 100, 118, 1);
    border-radius: 9px;
    transition: background-color 0.4s ease-in-out;
}
.button-bookmark:hover{
    background-color: rgb(133, 65, 85);
}
.b-create{
    background-color: rgba(160, 100, 118, 1);
    border-radius: 9px;
    transition: background-color 0.4s ease-in-out;
}
.b-create:hover{
    background-color: rgb(133, 65, 85);
}

/* //css bookmark */
.b-add-bookmark{
    background-color: rgba(160, 100, 118, 1);
    transition: background-color 0.4s ease-in-out;
    border-radius: 9px;
}
.b-add-bookmark:hover{
    background-color: rgb(133, 65, 85);
}
.card-bookmarks{
    border-radius: 9px;
}
/* rating */

.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
}

.rating input {
    appearance: unset;
}

.rating label {
    cursor: pointer;
}

.rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
    from {
        stroke-dashoffset: 24;
    }
}

.rating label:hover svg {
    stroke: var(--fill);
}

.rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
}

.welcome{
    margin-top: 10%;
}

@keyframes yippee {
    0% {
        transform: scale(1);
        fill: var(--fill);
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke: var(--stroke);
        stroke-dasharray: 10;
        stroke-width: 1px;
        stroke-linejoin: bevel;
    }

    30% {
        transform: scale(0);
        fill: var(--fill);
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke: var(--stroke);
        stroke-dasharray: 10;
        stroke-width: 1px;
        stroke-linejoin: bevel;
    }

    30.1% {
        stroke: var(--fill);
        stroke-dasharray: 0;
        stroke-linejoin: miter;
        stroke-width: 8px;
    }

    60% {
        transform: scale(1.2);
        fill: var(--fill);
    }


}
